<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATM</title>
</head>
<body>
  <h1>Select ATM command</h1>
  <form>
      <input type="button" value="Get balance" onclick='location.href="/atm/get-balance"'>
      <br/><br/>
      <input type="button" value="Get money" onclick='location.href="/atm/get-money"'>
      <br/><br/>
      <input type="button" value="Put money" onclick='location.href="/atm/put-money"'>
      <br/><br/>
      <input type="button" value="Change pin" onclick='location.href="/atm/change-pin"'>
  </form>
</body>
</html>